

@font-face {

}

.margin-self {
  margin: 42px 10px;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

body {
}
body > * {
  text-align: center;
  align-items: center;
}
#MyCanvas {
  display: flex;
  margin: auto;
  border: 1px solid black;

}

#myAudio {
  display: none;
}
.personal a > * {
    padding: 20px;
    font-size: 50px;
    color: black;
}

.canvas-container {
  display: flex;
  background-color: #e8e8e8;
  flex-direction: row;
  justify-content: flex-start;
}

.instruction .fas {
  border: 1px solid black;
  border-radius: 2px;
  background-color: grey;
  color: white;
  font-size: 20px;
  padding: 0 5px;
  margin-left: 5px;
}

.instruction li {
  list-style: none;
  margin-bottom: 5px;
}

.instruction h2, h3 {
  text-align: center;
}
.instruction {
  text-align: left;
}
